#game-container .game-pause-button {
  right: 168px !important;
  bottom: 20px !important;
}

@media (max-width: 760px) {
  #game-container .game-pause-button {
    right: 72px !important;
    bottom: 10px !important;
  }
}
